@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--text-gray);
  background-color: var(--bg-cream);
  line-height: 1.6;
}

.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
    margin-bottom: 40px;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2389ff; 
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0c2b4a;
}

.section-subtitle {
    font-size: .9rem;
    color: #64748b;
    text-align: center;
    align-self: center;

}

@media (max-width: 600px) {
  .section-subtitle {
    max-width: 300px;
  }
}

.container {
  max-width: 1200px; 
  margin: 0 auto;    
  width: 100%;      
}

.btn-white {
  background-color: white;
  color: var(--blue-primary);
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  margin-top: 25px;
}


.steps-section {
  background-color: var(--bg-light); /* Fundo cinza claro */
  padding: 80px 8%;
  text-align: center;
}

.steps-section h2 {
  color: var(--blue-primary);
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas para os passos */
  gap: 25px;
  margin-top: 50px;
}

.step-card {
  background-color: var(--bg-white);
  padding: 30px;
  border-radius: 12px;
  text-align: left; /* Texto alinhado à esquerda como no Figma */
  position: relative;
  transition: transform 0.2s ease;
}

.step-card:hover {
  transform: translateY(-5px);
}

.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step-number {
  background-color: var(--blue-secondary);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.icon-container {
  background-color: var(--blue-primary);
  padding: 10px;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6, .title, .headline {
  font-family: var(--font-title);
  font-weight: 700; /* Garante o negrito */
  text-transform: uppercase; /* Garante a caixa alta (all caps) */
  color: var(--dark-navy);
}
