@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  /* Cores antigas e novas mescladas */
  --blue-primary: #0A3251; 
  --blue-secondary: #2C6E9D; 
  --blue-glow: #23a7ff; 
  --bg-light: #F8F9FA; 
  --bg-white: #FFFFFF; 
  --bg-cream: #fcf7f2;
  --bg-purple: #9cb0e1;
  --dark-navy: #0b0f24;
  --brand-orange: #ff8c2b;
  --text-gray: #333333; /* Substituiu o #545454 pelo mais escuro da nova paleta */

  /* Tipografia: Criamos duas variáveis separadas */
  --font-title: 'Bebas Neue', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px; 
}


/* 1. Define a largura da barra */
::-webkit-scrollbar {
  width: 10px; /* Barra vertical */
  height: 10px; /* Barra horizontal */
}

/* 2. O fundo da barra (a trilha) */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* 3. A parte que se move (o "polegar") */
::-webkit-scrollbar-thumb {
  background: rgb(1, 145, 228); /* Usando sua variável de azul */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Cria um espaçamento sutil em volta */
}

/* 4. Efeito ao passar o mouse na barra */
::-webkit-scrollbar-thumb:hover {
  background: #134b9e; /* Um azul mais escuro no hover */
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
::-webkit-scrollbar {
  width: 2px; /* Barra vertical */
  height: 2px; /* Barra horizontal */
}
  /* 2. O fundo da barra (a trilha) */
::-webkit-scrollbar-track {
  background: #ffffff54; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb {
  background: rgb(32, 79, 150); /* Usando sua variável de azul */
  border:none; /* Cria um espaçamento sutil em volta */
}

}